body{
    background-color: silver;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h4{
    margin-top:5px;
    margin-bottom:5px;
    padding:2px;
    background:silver;
    border-radius:2px;
}

.on-map-icon{
    font-size:16px;
    position:absolute;
    border-radius:2px;
    background-color:white;
    color:rgb(102,102,102);
    padding:3px;
    padding-left:5px;
    padding-right:5px;
    left:0.75em;
    top:0.75em;
}
.on-map-icon a{
    text-decoration:none;
    color:rgb(102,102,102);
}
.on-map-icon a:hover{
    text-decoration:none;
    color:rgb(40,40,40);
}

#on-map-draw,#on-map-erase{
    padding-right:0.25em;
    border-right: 1px solid #EEE;
}
#on-map-save{
    padding-left:0em;
}
#save-btn{
    left:6em;
    top:1em;
}
.mbar-drop{
    position:absolute;
    display:None;
}

.mbar-drop p{
    margin:5px;
    
}

.mbar-drop a{
    margin:5px;
    color:white;
    text-decoration:none;
    
}
.mbar-drop-showing{
    display:inline-block;
    padding-left:10px;
    padding-right:5px;
    padding-bottom:5px;
    top:1.5em;
    z-index:999;
}
.mbar-item{
    padding-left:1em;
    color:white;
    text-decoration:none;
}
#map{
    width:100%;
    height:100%;
}

.menu{
    background:dimgray;
    color:white;
    font-size:14px;
}
#menubar{
    position:absolute;
    left:0%;
    top:0%;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:1%;
    width:99%;
    height:1em;
}
#map-panel{
    background:lightgray;
    position:absolute;
    left:14em;
    right:14em;
    top:6%;
    bottom:2%;
    padding:5px;
}

#draw-panel{
    background:lightgray;
    position:absolute;
    left:0%;
    top:75%;
    bottom:0%;
    width:10em;
    padding:5px;
    overflow:scroll;
    resize:horizontal;
    white-space:nowrap;
}
#poly-list-panel{
    background:lightgray;
    position:absolute;
    right:0%;
    top:1.6em;
    bottom:0%;
    width:12em;
    padding:5px;
    overflow:scroll;
    resize:horizontal;
    white-space:nowrap;
    direction:rtl;
}
#poly-list-panel>.content{
    direction:ltr;
    width:100%;
    height:100%;
}
#control-panel{
    background:lightgray;
    position:absolute;
    left:0%;
    top:1.6em;
    bottom:0%;
    width:12em;
    padding:5px;
    overflow:scroll;
    resize:horizontal;
    white-space:nowrap;
}
#drawn-paths{
    list-style:None;
    padding-left:0.25em;
    padding-right:0.5em;
}
.highlighted{
   box-shadow: 0 0 1em lightgray;
}

.route-name-in{
    width:11em;
    font-family:monospace;
    margin-bottom:0.25em;
}
#darken{
    position: absolute;
    left:0%;
    top:0%;
    width:100%;
    display:none;
    z-index: 998;
    background-color: rgba(0,0,0,.7);
}
#help{
    z-index: 999;
    border-radius:5px;
    background-color: lightgray;
}
