body{
    background-color: lightgray;
}

#map{
    height:500px;
    width:100%;
}

#darken{
    position: absolute;
    left:0%;
    top:0%;
    width:100%;
    display:none;
    z-index: 998;
    background-color: rgba(0,0,0,.7);
}
#help{
    z-index: 999;
    border-radius:5px;
    background-color: lightgray;
}
